<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Книги</title>
</head>
<body>
<h2>Книги</h2>
<a th:href="@{/users}" sec:authorize="hasRole('ADMIN')">Все пользователи</a>
<a th:href="@{/login}" >Авторизация</a>
<a th:href="@{/userAccount}" sec:authorize="hasRole('ADMIN') or hasRole('USER')">Личный кабинет</a>
<a th:href="@{/addBook}" sec:authorize="hasRole('ADMIN')">Добавить книгу</a>
<table border="1">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Рейтинг</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.rating}"></td>
            <td>
                <div sec:authorize="hasRole('ADMIN')">
                    <form th:action="@{/editBook}" method="get">
                        <input type="hidden" th:name="id" th:value="${book.id}" />
                        <button type="submit">Редактировать</button>
                    </form>
                    <form th:action="@{/deleteBook}" method="post">
                        <input type="hidden" th:name="id" th:value="${book.id}" />
                        <button type="submit">Удалить</button>
                    </form>
                </div>
                <div sec:authorize="hasRole('USER')">
                    <form th:action="@{/addBookToUsers}" method="post">
                        <input type="hidden" name="userId" th:value="${#authentication.principal.id}" />
                        <input type="hidden" name="book" th:value="${book.id}" />
                        <button type="submit">Добавить книгу в личный кабинет</button>
                    </form>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>